@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";

.text {
  color: $gray;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;

  &.regular {
    font-weight: 400;
  }

  &.bold {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }

  &.paragraph {
    color: $gray;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &.blockQuote {
    color: $primary;
    font-size: 25px;
    font-family: $fontFamilySecondary;
    font-style: italic;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
}

// Sizes

.text {
  &.smallSize {
    letter-spacing: 0.18px;
    font-size: 18px;
  }
  &.mediumSize {
    letter-spacing: 0.2px;
    font-size: 20px;
  }

  &.largeSize {
    font-size: 22px;
  }
}
