.text {
  color: #4d5053;
  // font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;

  &.regular {
    font-weight: 400;
  }

  &.bold {
    font-weight: 700;
  }

  &.italic {
    font-style: italic;
  }
}
.paragraph {
  &.normal {
    color: #4d5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &.small {
    letter-spacing: 0.18px;
    font-size: 18px;
  }
  &.medium {
    letter-spacing: 0.2px;
    font-size: 20px;
  }
}
