@import "../../../styles/colors.scss";

button:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}
.button {
  transition-duration: 0.5s;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
}

.primary {
  background-color: $primary;
  color: $secondary;
}

.secondary {
  background-color: $secondary;
  color: $primary;
}

.small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}
